# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
*.egg-info/
*.egg

# Distribution / packaging
.Python
build/
dist/
*.egg
MANIFEST

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Other files
*.bak
*.tmp
*.temp
